node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.*
!.env.example

# Android (legacy)
.gradle
/build
/local.properties
*.iml

# macOS
.DS_Store
*.pem

# IDE
.idea/

# Python
__pycache__/
*.pyc
.directory
